<section class="answers">
    <div class="container">
        <div class="answer-pre-title">
            <div class="answer-pre-title-description">Результат прохождения теста</div>
            <img class="answer-image" src="images/answer-arrow.png" alt="Стрелка">
            <div class="answer-pre-title-text" id="test-name">Тест №1. “JavaScript: Начальный уровень”</div>
        </div>
        <div class="answer-title"><span>Правильные ответы</span> к тесту</div>
        <div class="answer-user">
            Тест выполнил <span id="answer-user-info">Никита Залевский, nik@mail.ru</span>
        </div>
        <div class="answer-blocks" id="options">

        </div>
    </div>
</section>

<div class="container">
    <div class="watch-answers" id="to-result-block">
        <div class="watch-answers-text" id="watch-result">Обратно к моему результату теста</div>
        <img src="images/result-answer-arrow.png" alt="Стрелка">
    </div>
</div>
